* {
  padding: 0;
  margin: 0;
  border: 0;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.2;
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8);
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0em;
  line-height: 1.8;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 1200px;
}

.container .a {
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Lato, sans-serif;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.8);
}

.container {
  margin-top: 100px;
}

.audio {
  -ms-flex-item-align: start;
      align-self: start;
  margin-left: 40px;
  margin-top: 8px;
}

h1,
h2,
h3,
h5,
h6,
h7 {
  font-family: Aleo, serif;
  line-height: 1.2em;
}

h1 {
  font-size: 85px;
  font-weight: 700;
}

h2 {
  display: block;
  font-size: 55px;
  font-weight: 700;
  position: relative;
  padding-bottom: 30px;
}
h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eb1d36;
  position: absolute;
  left: 0;
  bottom: 0;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.page-header {
  background-color: rgba(0, 0, 0, 0.8);
}
.page-header span {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-left: 580px;
  margin-right: 30px;
}
.page-header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-blue {
  color: #0f6bd0;
  font-family: Aleo, serif;
  font-weight: 700;
  font-size: 38px;
}

.logo-yellow {
  margin-left: 10px;
  color: #fed501;
  font-family: Aleo, serif;
  font-weight: 700;
  font-size: 38px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.site-nav .item {
  display: block;
}
.site-nav .link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.04em;
}
.site-nav .link:hover, .site-nav .link:focus {
  color: #fa9494;
}
.site-nav .link-current {
  color: #fa9494;
}
.site-nav .item + .item {
  margin-left: 15px;
}

.container-hero {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 1400px;
  /* outline: 2px solid tomato; */
}

.hero {
  background-image: url("../images/hero-bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.divider-bottom {
  margin-top: -30px;
  background-image: url("../images/divider-bottom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.divider-top {
  margin-bottom: 0;
  background-image: url("../images/divider-beige.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 100px;
  margin-left: 40px;
}

.hero-pic {
  margin-top: 110px;
}

.hero-title {
  margin-top: 120px;
  margin-left: auto;
}

.button {
  display: inline-block;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 130px;
  border: 1px solid;
  color: rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
}
.button.primary {
  color: #ffffff;
  background-color: #fa9494;
  border-color: rgba(0, 0, 0, 0.8);
}
.button.primary.first {
  margin-left: auto;
  margin-top: 10px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.button.secondary {
  display: inline-block;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.button.secondary.first {
  margin-top: 40px;
}

.hero-text {
  width: 700px;
  margin-left: 120px;
  margin-right: 0;
  margin-bottom: 80px;
}

.hero-text-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}
.about span {
  display: block;
  font-weight: 700;
  font-size: 18px;
  color: #fa9494;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.about-text-all {
  margin-top: -60px;
  text-align: center;
  padding-bottom: 100px;
}

.about-element {
  width: 33%;
}

.about-text {
  margin-top: 30px;
}

.about-pic-one {
  display: block;
  margin-top: -40px;
  padding-left: 10px;
  padding-top: 10px;
  margin-right: auto;
  border-color: RGBA(255, 255, 255, 0);
  border-left-width: 10px;
  border-top-width: 10px;
  -webkit-box-shadow: -6px -6px 0px -5px #eb1d36;
          box-shadow: -6px -6px 0px -5px #eb1d36;
}

.about-pic-two {
  display: block;
  margin-top: 60px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  border-color: RGBA(255, 255, 255, 0);
  border-right-width: 10px;
  border-bottom-width: 10px;
  -webkit-box-shadow: 6px 6px 0px -5px #eb1d36;
          box-shadow: 6px 6px 0px -5px #eb1d36;
}

.house-all {
  background-color: #f7f6f1;
  padding-top: 10px;
  padding-bottom: 80px;
}

.house-all .container {
  margin-top: 0;
}

.house-one-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.house-one-image {
  display: block;
  margin-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  border-color: RGBA(255, 255, 255, 0);
  border-right-width: 10px;
  border-bottom-width: 10px;
  -webkit-box-shadow: 6px 6px 0px -5px #eb1d36;
          box-shadow: 6px 6px 0px -5px #eb1d36;
}

.house-one-text-all {
  width: 50%;
}

.house-one-text {
  margin-top: 30px;
}

.house-two-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}

.house-two-image {
  display: block;
  margin-top: 20px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  border-color: RGBA(255, 255, 255, 0);
  border-right-width: 10px;
  border-bottom-width: 10px;
  -webkit-box-shadow: 6px 6px 0px -5px #eb1d36;
          box-shadow: 6px 6px 0px -5px #eb1d36;
}

.house-two-text-all {
  width: 50%;
}

.house-two-text {
  margin-top: 30px;
}

.house-three-all {
  margin-top: 0;
}

.house-three {
  margin-bottom: 50px;
  margin-top: 0;
}

.house-three-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.house-three-image-two {
  margin-top: 400px;
  margin-left: -200px;
}

.house-three-text-all {
  width: 50%;
  margin-left: auto;
  margin-top: 100px;
}

.house-three-text {
  margin-top: 30px;
}

.house-four-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
}

.house-four-image-two {
  margin-top: 400px;
  margin-left: -200px;
}

.house-four-text-all {
  width: 50%;
  margin-left: auto;
  margin-top: 100px;
}

.house-four-text {
  margin-top: 30px;
}

.frames {
  background-color: #f7f6f1;
  padding-top: 50px;
  padding-bottom: 50px;
}

.frames-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container.frames-all {
  margin-top: 0;
}

.frames-text-image {
  display: block;
  margin-left: auto;
  width: 54%;
}

.frames-text {
  margin-top: 30px;
  margin-bottom: 30px;
}

.frames-image-two {
  margin-top: 50px;
}

.frames-image-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.frames-image-new {
  margin-left: 50px;
}

.frames-image-four {
  margin-bottom: 50px;
}

.container.donate {
  margin-top: 80px;
  background-color: #f7f6f1;
  border: 1px solid #000000;
  padding-bottom: 30px;
  position: relative;
  height: 500px;
  -webkit-box-shadow: 0px 50px 0px 30px rgba(250, 148, 148, 0.1);
          box-shadow: 0px 50px 0px 30px rgba(250, 148, 148, 0.1);
}

.donate-all {
  display: block;
  background-color: #fff;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 0;
  padding-top: 50px;
  -webkit-box-shadow: 0px 50px 100px 0px rgba(163, 135, 123, 0.4);
          box-shadow: 0px 50px 100px 0px rgba(163, 135, 123, 0.4);
  position: absolute;
  width: 1180px;
  top: -30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.donate-all .help {
  font-weight: 700;
  font-size: 18px;
  color: #fa9494;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}
.donate-all .amount {
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 55px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 1.2em;
}

.donate {
  text-align: center;
  margin-top: 100px;
}

.donate-text {
  margin-top: 30px;
}

.donate-btn {
  margin-top: 30px;
  margin-bottom: 30px;
}

.donate-hopes {
  margin-top: 30px;
  padding-bottom: 30px;
}

.contacts.list .link {
  color: rgba(0, 0, 0, 0.8);
  font-size: 17px;
}

.contacts-word {
  font-family: Aleo, serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 11px;
  margin-bottom: 10px;
}

.item.phone::before {
  display: inline-block;
  content: "";
  width: 32px;
  height: 33px;
}

.item.mail::before {
  display: inline-block;
  content: "";
  width: 28px;
  height: 33px;
}

.item.address::before {
  display: inline-block;
  content: "";
  width: 33px;
  height: 33px;
}

.container .title {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.contacts .item {
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
  border: 1px solid #000000;
  width: 280px;
}

.phone {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.mail {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.address {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.icon-phone {
  fill: #fa9494;
}

.icon-mail {
  fill: #fa9494;
}

.icon-map {
  fill: #fa9494;
}

.appart-img {
  margin-top: 30px;
}

.flex-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.frame-map {
  margin-top: 30px;
}

.appart-all {
  width: 32%;
  margin-left: auto;
}/*# sourceMappingURL=main.css.map */