body {
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.8);
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0em;
  line-height: 1.8;
}

h1,
h2,
h3,
h5,
h6,
h7 {
  font-family: Aleo, serif;
  line-height: 1.2em;
}

h1 {
  font-size: 85px;
}

h2 {
  display: block;
  font-size: 54px;
  font-weight: 700;
  position: relative;
  padding-bottom: 30px;
}
h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #eb1d36;
  position: absolute;
  left: 0;
  bottom: 0;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.page-header {
  background-color: rgba(0, 0, 0, 0.8);
}
.page-header span {
  color: #ffffff;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-left: 580px;
}
.page-header .main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-blue {
  color: #0f6bd0;
  font-family: Aleo, serif;
  font-weight: 700;
  font-size: 38px;
}

.logo-yellow {
  margin-left: 10px;
  color: #fed501;
  font-family: Aleo, serif;
  font-weight: 700;
  font-size: 38px;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.site-nav .item {
  display: block;
}
.site-nav .link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.04em;
}
.site-nav .link:hover, .site-nav .link:focus {
  color: #fa9494;
}
.site-nav .link-current {
  color: #fa9494;
}
.site-nav .item + .item {
  margin-left: 15px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 1200px;
}

.container-hero {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 1400px;
  /* outline: 2px solid tomato; */
}

.hero {
  background-image: url("../images/hero-bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.divider-bottom {
  margin-top: -30px;
  background-image: url("../images/divider-bottom.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.divider-top {
  margin-bottom: 0;
  background-image: url("../images/divider-beige.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-pos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 100px;
  margin-left: 40px;
}

.hero-pic {
  margin-top: 110px;
}

.hero-title {
  margin-top: 120px;
  margin-left: 120px;
}

.button {
  display: inline-block;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 130px;
  border: 1px solid;
  color: rgba(0, 0, 0, 0.8);
  background-color: #ffffff;
  text-decoration: none;
  text-align: center;
  font-family: Lato, sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.03em;
}
.button.primary {
  color: #ffffff;
  background-color: #fa9494;
  border-color: rgba(0, 0, 0, 0.8);
}
.button.primary.first {
  margin-left: 60px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.button.secondary {
  display: inline-block;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.button.secondary.first {
  margin-top: 40px;
}

.hero-text {
  width: 700px;
  margin-left: 100px;
  margin-right: 0;
  margin-bottom: 80px;
}

.hero-text-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-word {
  font-family: Aleo, serif;
  font-weight: 700;
  font-size: 18px;
}/*# sourceMappingURL=main.css.map */