.contacts-word {
  font-family: Aleo, serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 11px;
  margin-bottom: 10px;
}

.item.phone::before {
  display: inline-block;
  content: "";
  width: 32px;
  height: 33px;
  /* outline: 1px solid black; */
  background-image: url("../icons/phone.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.item.mail::before {
  display: inline-block;
  content: "";
  width: 28px;
  height: 33px;
  /* outline: 1px solid black; */
  background-image: url("../icons/mail.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.item.address::before {
  display: inline-block;
  content: "";
  width: 33px;
  height: 33px;
  /* outline: 1px solid black; */
  background-image: url("../icons/address.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container .title {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 50px;
}

.contacts .item {
  align-self: center;
  text-align: center;
  border: 1px solid $brdc;
  width: 280px;
}

.phone {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.mail {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}
.address {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.contacts .item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  justify-content: space-between;
}
